.mailsvg {
    height: 30px
}

.mailptag {
    font-size: 13px;
}

.callsvg {
    height: 30px;
}

.callptag {
    font-size: 13px;
}

.navbutton {
    background-color: #1BB275;
    color: white;
}

.bg1image {
   /* background: url(images_svg/Image_1.png); */
   /* z-index: 5; */
   background-image: linear-gradient(to right,#102C5B 40.5%,#102c5b1c, #102c5b00), url(images_svg/Image_1.png);
   background-position:right top;
   background-repeat: no-repeat;
   background-size: auto;
   height:auto;
   opacity: 1;
}
/* .bg1image2{
    
    background: linear-gradient(to right, #102C5B,transparent);
    z-index: -1;
} */
.bgimage2{
    background-image: linear-gradient(#102c5bc6,#102c5bc6), url(images_svg/Image_3.png);
   background-repeat: no-repeat;
background-size: cover;
   /* height:110vh; */
}
.mt-6{margin-top:6rem;}
.mb-6{margin-bottom: 6rem;}
.ms-6{margin-left: 8rem;}
.ms-n-6{
    margin-left: -10rem;
}
.me-6{
    margin-right: 9rem;
}